
<nav id="main_nav">
  <div id="nav_upper">
    Nothing to display here yet
  </div>
  <div id="nav_lower">
    <ul>
      <li><%= link_to "index" %></li>
      <li><%= link_to( "Users" , :controller =>"users", :action => "index")%></li>
    </ul>
  </div>
</nav>


