<!this should get more complicated as the website develops. right now lets just display default layout>

<%= render( :partial => "navigation" )%>
<div>
  <p>
    This is the default view for the admin controller. We will want to eventually make this the place for me and dayna to go to manage content
  </p>
</div>

