<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title>
            Dayna and Will's Website
        </title>
        <style type="text/css" media="screen">
            #heading{
                text-align: center;
                color: #cfeded;
                border-bottom: 1px solid #ccc;
                margin-left: 150;
                padding-left: 150;
                font-size: 30px;
            }
            body {
                background-color: #001A57;
            }
            
            
            
        </style>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <div id ="page">
            <div id="Duke_D">
              <%= image_tag "Duke_D.png" %>
            </div>
            <div id="heading">
                Dayna and Will's Website
            </div>
        </div>
    </body>
</html>
