<div id="delete form">
  <div id="delete_message"> 
    <P>
    Are you sure you want to delete this user?
    </p>
    <div id="delete_display">
      <%= form_for(:user, :url => user_path(@User.id),:html=> {:method => :delete} ) do |f| -%>
      <div id="record_to_delete">
        <p><%=@user.first_name%> <%=@user.last_name%></p>
      </div>
      <div id="delete_button">
        <%= submit_tag("Delete User") %>
      </div>
      <% end %>
    </div>
  </div>
</div>
